<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提案書の概要文に AI がコメントする実験的なシステム（非公式）</title>

    <link rel="apple-touch-icon"      sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/images/favicon-16x16.png">
    <link rel="manifest"  href="/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <style>
      body {
	font-family: 'Noto Sans JP', sans-serif;
	margin:  0;
	padding: 0;
	margin-bottom: 100px;
      }
      p {
	color: #242424;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 98%;
      }
      a {
	text-decoration: none;
      }
      a:hover{
	text-decoration: underline;
      }
      
      textarea, #resultDiv {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
      }
      button {
	margin-top:    0.5em;
	margin-right:  0.5em;
	margin-bottom: 0.5em;
      }
      /* スマホの画面サイズのときに適用するスタイル */
      @media screen and (max-width: 768px) {
	button {
          font-size: 1.1em;     /* フォントサイズを大きくする */
          padding: 0.5em 0.9em; /* パディングを追加してボタンを大きく見せる */
	  display: block;       /* ボタンをブロック要素に変更 */
	}
	#inputText {
          height: 300px; /* 入力画面の高さを1.5倍にする */
	}
      }

      #container{
	margin-top:    1.0em;
	margin-bottom: 1.0em;
	margin-left:   auto;
	margin-right:  auto;
	padding-left:  0.5em;
	padding-right: 0.5em;
	
	max-width: 840px;
      }
      .loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	width:  30px;
	height: 30px;
	animation: spin 1s linear infinite;
	display: inline-block;
	vertical-align: middle;
      }
      @keyframes spin {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
      }
      textarea, #result {
	width:  100%;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding:    1.0em;
	margin-top: 1.0em;
	min-height: 100px;
      }
      #result {
	height: 100%;
	overflow-y: scroll;
	margin-top: 10px;
	position: relative;
      }
      #result-placeholder {
	color: #777;
      }

      footer {
	color: #777;
	opacity: 0.7;
	margin:  0 auto;
	margin-top:    30px;
	margin-bottom: 100px;
	margin-left:   -1px;
	width:   100%;
	text-align: center;
      }

      ul {
	padding-left:  20px;
	padding-right: 5px;
      }
      li {
	margin-bottom: 10px;
      }

      @media screen and (max-width: 848px) {
	br.ignore-pc {
	  display: none;
	}
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>

    <footer>
      <p><small>
	Created by
	<a href='https://twitter.com/yasulab/status/1636938702290292737' <% if request.env["PATH_INFO"].eql? '/' %>target='_blank' rel='noopener'<% end %>>@yasulab</a>
	for you.
	Powered by
	<a href='https://openai.com/product/gpt-4' <% if request.env["PATH_INFO"].eql? '/' %>target='_blank' rel='noopener'<% end %>>GPT-4</a>.
	<br>
	[
	<% if request.env["PATH_INFO"] == '/' %>
	  Top
	<% else %>
	  <a href="/">Top</a>
	<% end %>
	|
	<a href="https://github.com/yasulab/gpt-linter" <% if request.env["PATH_INFO"].eql? '/' %>target="_blank" rel="noopener"<% end %>>GitHub</a>
	|
	<% if request.env["PATH_INFO"] == '/terms' %>
	  Terms
	<% else %>
	  <a href="/terms" target="_blank" rel="noopener">Terms</a>
	<% end %>
	]
      </small></p>
    </footer>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H2QMV61YFH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H2QMV61YFH');
     </script>
  </body>
</html>

